.App {
  text-align: center;
}

.Title{
  font: sans-serif;
  font-style: italic;
  font-weight: bold;
  /* color: linear-gradient(yellow, green);
  background-color: linear-gradient(yellow, green);
  background-color: -webkit-linear-gradient(#eee, #333); */
}

.App-logo {
  height: 20vmin;
  margin-bottom: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.Form {
  margin: 5px;
}

.Company-no-input {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.Submit{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.Switches{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Switch1{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Company-summary{
    font: sans-serif;
    margin-right: 5px;
    font-size: 15px;
}

.Switch2{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.KeyParties{
    font: sans-serif;
    margin-right: 5px;
    font-size: 15px;
}

.Switch3{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Peps{
    font: sans-serif;
    margin-right: 5px;
    font-size: 15px;
}

.Switch4{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Authenticate{
    font: sans-serif;
    margin-right: 5px;
    font-size: 15px;
}

.Rodal{
}

.Citrus-data{
  color: #000000;
  font: sans-serif;
  margin-right: 5px;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
